<?xml version="1.0"?>
<config>
    <modules>
        <Payiteasy_Onlinepayment>
            <version>0.1.1</version>
        </Payiteasy_Onlinepayment>
    </modules>
    <frontend>
        <routers>
            <onlinepayment>
                <use>standard</use>
                <args>
                    <module>Payiteasy_Onlinepayment</module>
                    <frontName>onlinepayment</frontName>
                </args>
            </onlinepayment>
        </routers>
        <layout>
            <updates>
                <onlinepayment>
                    <file>onlinepayment.xml</file>
                </onlinepayment>
            </updates>
        </layout>
        <translate>
            <modules>
                <onlinepayment>
                    <files>
                        <default>Payiteasy_Onlinepayment.csv</default>
                    </files>
                </onlinepayment>
            </modules>
        </translate>
    </frontend>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <onlinepayment_action_mode>
                    <to_order_payment>*</to_order_payment>
                </onlinepayment_action_mode>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <onlinepayment>
                <class>Payiteasy_Onlinepayment_Model</class>
            </onlinepayment>
        </models>
        <blocks>
            <onlinepayment>
                <class>Payiteasy_Onlinepayment_Block</class>
            </onlinepayment>
        </blocks>
        <helpers>
            <onlinepayment>
                <class>Payiteasy_Onlinepayment_Helper</class>
            </onlinepayment>
        </helpers>
        <resources>
            <onlinepayment_setup>
                <setup>
                    <module>Payiteasy_Onlinepayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onlinepayment_setup>
            <onlinepayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onlinepayment_write>
        </resources>
        <payment>
            <cc>
                <types>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                        <order>0</order>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                        <order>10</order>
                    </MC>
                </types>
            </cc>
            <groups>
                <offline>Offline Payment Methods</offline>
            </groups>
        </payment>
        <events>
            <sales_order_place_after>
                <observers>
                    <onlinepayment_model_sales_order_save_after>
                        <type>singleton</type>
                        <class>Payiteasy_Onlinepayment_Model_Observer</class>
                        <method>sendPayment</method>
                    </onlinepayment_model_sales_order_save_after>
                </observers>
            </sales_order_place_after>
            <sales_order_payment_cancel>
                <observers>
                    <onlinepayment_model_sales_order_creditmemo_reversal>
                        <type>singleton</type>
                        <class>Payiteasy_Onlinepayment_Model_Observer</class>
                        <method>reversal</method>
                    </onlinepayment_model_sales_order_creditmemo_reversal>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_payment_capture>
                <observers>
                    <onlinepayment_model_sales_order_pyment_capture>
                        <type>singleton</type>
                        <class>Payiteasy_Onlinepayment_Model_Observer</class>
                        <method>capture</method>
                    </onlinepayment_model_sales_order_pyment_capture>
                </observers>
            </sales_order_payment_capture>
        </events>
    </global>
    <default>
        <onlinepayment>
            <onlinepayment_group>
                <onlinepayment_username_live>firstfinance</onlinepayment_username_live>
                <onlinepayment_password_live>G4k3RbXWED</onlinepayment_password_live>
                <onlinepayment_username>fifapsp</onlinepayment_username>
                <onlinepayment_password>voeb2000</onlinepayment_password>
                <onlinepayment_css_url>frontend/base/default/css/onlinepayment/custom.css</onlinepayment_css_url>
            </onlinepayment_group>
        </onlinepayment>
        <payment>
            <directpos_std>
                <active>0</active>
                <model>onlinepayment/method_standard</model>
                <order_status>pending</order_status>
                <title>OnlinePayment - FormularService Method</title>
            </directpos_std>
            <directpos_cc>
                <active>0</active>
                <model>onlinepayment/method_creditcard</model>
                <order_status>pending</order_status>
                <title>OnlinePayment - Creditcard</title>
                <cctypes>VI,MC</cctypes>
            </directpos_cc>
            <directpos_elv>
                <active>0</active>
                <model>onlinepayment/method_debit</model>
                <order_status>pending</order_status>
                <title>OnlinePayment - Direct Debit</title>
            </directpos_elv>
        </payment>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <onlinepayment>
                    <file>onlinepayment.xml</file>
                </onlinepayment>
            </updates>
        </layout>
        <translate>
            <modules>
                <onlinepayment>
                    <files>
                        <default>Payiteasy_Onlinepayment.csv</default>
                    </files>
                </onlinepayment>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onlinepayment>
                                            <title>Payiteasy - All</title>
                                        </onlinepayment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>